.postsContainer {
  margin: auto;
  margin-top: 50px;
}

.postCard {
  max-width: 450px;
  height: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 7px;
  text-overflow: ellipsis;
  box-shadow: #DACDC3 0px 0px 0px 1px, #DACDC3 0px 0px 0px 1px inset;
} 

.cardName {
  font-size: 15px;
  font-weight: 600;
  margin-left: 13px;
  margin-top: 10px;
}

.postCardImg {
  height: 537px;
}

.postCardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postCard .cardNameContainer {
  height: 35px;
  display: flex;
  border-radius: 50%;
  margin: 10px 6px;
  align-items: center;
}

.postCard .cardNameContainer img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.postCardText, 
.cardDate {
  padding: 0 15px;
}

.postCardText {
  font-size: 15px;
}

.postCardText .cardLikes {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.postCardText .cardLikes:hover {
  color: #006158;
}

.likeEdit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9px;
}

.editIcons {
  color: rgb(62, 60, 60);
}

.editIcons i {
  cursor: pointer;
  margin-right: 7px;
}

.postCardText p {
  margin: 0;
}

.postCardText p span {
  font-weight: 600;
  margin-right: 9px;
}

.updateForm input {
  margin-right: 5px;
}

.updateForm .updateSubmit {
  border: none;
  padding: 5px;
  border-radius: 3px;
  background-color: #006158;
  color: white;
  cursor: pointer;
}

.cardDate {
  color: #BEA48D;
  font-size: 12px;
}

@media only screen and (max-width: 450px) {
  .postCard {
    max-width: 350px;
  }
}

@media only screen and (max-width: 370px) {
  .postCard {
    max-width: 300px;
  }
}

