.defaultBtn {
  border: 2px solid #006158;
  background-color: transparent;
  cursor: pointer;
  width: 80%;
  margin: auto;
  padding: 0.75rem 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1;
  transition: ease-in-out 0.3s;
}

.profileBtn {
  color: #006158;
  margin-bottom: 20px;
}

.submitBtn {
  background-color: #006158;
  color: white;
  width: 100%;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 400;  
}

.darkBtn {
  border: 2px solid white;
  color: white;
  width: 100%;
}

.logoutBtn {
  background: #006158;
  color: white;
}

.deleteBtn {
  background: black;
  color: white;
  margin-top: 20px;
  border: 2px solid black;
}

.themeBtn {
  background-color: rgba(1, 135, 135, 0.3);
  width: 30%;
  margin-bottom: 40px;
}

.themeBtn:focus {
  background-color: var(--secondary-var);
  color: white;
}

.submitBtn:hover,
.logoutBtn:hover {
  background: #DACDC3;
  color: black;
  border: 2px solid #DACDC3;
}

.deleteBtn:hover { background: #721C24 }

.profileBtn:hover, 
.themeBtn:hover{
  background: #EDE6E0;
}

