
.form {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.44);
  font-family: 'Kanit', sans-serif;

}

.form h3 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.form input {
  border: 2px solid #006158;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.form label { margin-bottom: 10px; }

.form span {
  color: var(--primary-nav);
}

input[type="text"].disabled {
  color: white;
  opacity: 0.6;
  cursor: no-drop;
}

.form-control {
  display: block;
  margin-bottom: 15px;
  padding: 15px 10px;
  border-radius: 3px;
}

.inputErrorMsg {
  font-weight: 600;
  color: #006158;
}