a {
  text-decoration: none;
  color: white;
}

.navBar {
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navLogo {
  width: 53px;
  height: 53px;
  display: flex;
  align-items: center;
  gap: 11px;
}

.navLogo h2 {
  color: white;
}

.navLogo img {
  width: 100%;
}

.navOptions {
  display: flex;
  align-items: center;
}

.navOptions input {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  margin-right: 11px;
}

.navIcons {
  display: flex;
  gap: 3px;
}

.userIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.userIcon:hover {
  color: #006158
}

@media only screen and (max-width: 450px) {
  .navBar {
    flex-direction: column;
  }
  
  .navOptions {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 370px) {
  .navBar {
    flex-direction: column;
  }
  
  .navOptions {
    margin-top: 15px;
    flex-direction: column;

  }
}
